.inputModal{
    border: 1px solid #eaeaea !important;
    border-radius: 5px;
    outline: none;
    color: #000 !important;
    width: 280px;
}
.button_Modal{
    background-color: #bdd4e8 !important;
    margin-left: 5px !important;
}
